<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Energy consumption Dashboard</title>
 
     <!-- Our CSS -->
     <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
 
   <!-- Set the viewport the way Bootstrap likes it -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
 
       <!-- Bring in the Bootstrap stylesheet -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
   <!-- Bring in our own stylesheet, AFTER Bootstrap  -->
   <!-- <link rel="stylesheet" href="style.css"> -->
 </head>

<!-- <a href="/">Click here to return home!</a> -->
<a href={{ url_for("IndexRoute") }}>Click here to return home!</a>
</html>