<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>United States GDP per capita Dashboard Dashboard</title>
 
     <!-- Our CSS -->
     <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
 
   <!-- Set the viewport the way Bootstrap likes it -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
 
       <!-- Bring in the Bootstrap stylesheet -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
   <!-- Bring in our own stylesheet, AFTER Bootstrap  -->
   <!-- <link rel="stylesheet" href="style.css"> -->
 </head>



<body>

   <!-- ############################################ -->
  <!-- #########head paragraph and subtext ######## -->
  <!-- ############################################ -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center" style = "background-image: url(https://media3.giphy.com/media/JtBZm3Getg3dqxK0zP/giphy.gif?cid=790b7611242a0682fe5d949ac78b45e3c1f8677291a9b51d&rid=giphy.gif&ct=g); background-size: 100%;">
          <h1 style= "color: #f6f6f6;">United States GDP per capita Dashboard</h1>
          <p style= "color: #f6f3f3;">Use the interactive map below to explore the dataset</p>
      </div>
    </div>
<!-- ############################################ -->
<!-- #########head paragraph and subtext ########-->
<!-- ############################################ -->


<!-- ############################################ -->
<!-- ############ creating buttons ############## -->
<!-- ############################################ -->
    <div class="row">
      <div class="col-md-12 text-center">
      <a class="btn btn-lg" href={{ url_for("EnergyConsumptionRoute") }} role="button">Energy consumption</a>
      <a class="btn btn-lg" href={{ url_for("EnergyConsumptionSectorsRoute") }} role="button">Energy consumption by sectors</a>
      <a class="btn btn-lg" href={{ url_for("data") }} role="button">Data Table</a> 
      <hr>
      </div>
    </div>
<!-- ############################################ -->
<!-- ############ creating buttons ############## -->
<!-- ############################################ -->

    

    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Year:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"> Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"><!--empty div --></div>
        </div>
      </div>

<!-- map id -->
      <div class="col-md-5">
        <div id="map"><!--empty div --></div>
      </div>
<!-- bar id -->
      <div class="col-md-5">
        <div id="bar"><!--empty div --></div>
      </div>
<!-- pie id -->
      <div class="col-md-5">
        <div id="pie"><!--empty div --></div>
      </div>
    </div>

<!-- bubble map id -->
    <div class="row">
      <div class="col-md-12">
        <div id="bubblemap"></div>
      </div>
    </div>

  </div>



  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/js/app.js"></script>
  
  
</body>

</html>