<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stacked Bar Chart</title>
 
   <!-- Set the viewport the way Bootstrap likes it -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
 
       <!-- Bring in the Bootstrap stylesheet -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
   <!-- Bring in our own stylesheet, AFTER Bootstrap  -->
   <!-- <link rel="stylesheet" href="style.css"> -->
 </head>
<body>

    <div class="chartBox">
        <canvas id = "myChart"></canvas>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="/static/js/logic2.js"></script>

  
  
</body>

</html>

